@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans TC", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-surface-primary: #0f172a;
  --color-surface-secondary: #1e293b;
  --color-surface-tertiary: #334155;
  --color-accent: #ff8400;
}
